<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cordovatest.plugins" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TestCPlugin</name><engines>
    <engine name="cordova" version=">=3.4.0"/></engines><asset src="www/TestCPlugin.js" target="js/TestCPlugin.js"/><js-module name="TestCPlugin" src="www/TestCPlugin.js"><clobbers target="TestCPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="TestCPlugin"><param name="android-package" value="com.cordovatest.plugins.TestCPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/TestCPlugin.java" target-dir="src/com/cordovatest/plugins/" /></platform></plugin>
